* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;;
}

header{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tableBoard{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    border: 1px solid;
}

.cell{
    border: 1px solid;
    font-size: 170px;
    text-align: center;
}

.cell:hover{
    cursor: pointer;
    background-color: azure;
}

.button-section{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-section button{
    height: 50px;
    width: 100px;
    border-radius: 12px;
    cursor: pointer;
}