* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableBoard{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    border: 1px solid;
}

.cell{
    border: 1px solid;
}

.cell:hover{
    cursor: pointer;
    background-color: azure;
}