* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

body{
    position: relative;
    width: 100%;
}

header{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.tableBoard{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    border: 1px solid;
}

.player-board{
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    margin: 2rem;
}

.player-one-data, .player-two-data{
    flex: 1;
}

.player-name, .player-score{
    font-size: 50px;
}

.cell{
    border: 1px solid;
    font-size: 170px;
    text-align: center;
}

.cell:hover{
    cursor: pointer;
    background-color: azure;
}

.button-section{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-section button{
    height: 50px;
    width: 100px;
    border-radius: 12px;
    cursor: pointer;
}

dialog {
    top: 40%;
    width: 100%;
    height: 100px;
    text-align: center;
    margin-left: 20px;

}

.dialog-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.dialog-content button {
    padding: 6px 12px;
    width: 100px;
}